*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    width: 100%;
    height: 120px;
    background-color: #F3F3F3;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#navigation{
    width: 1300px;
    height: 170px;
    background-color: #F3F3F3;
    display: flex;
    justify-content: space-between;
}
#image{
    width: 230px;
    height: 120px;
    background-color: #F3F3F3;
    display: flex;
    justify-content: center;
    align-items: center;
}
#image img{
    width: 200px;
    cursor: pointer;
}
#nav-items{
    width: 900px;
    height: 120px;
    background-color: #f3f3f3;
    display: flex;
    justify-content: space-between;
}
#nav-all {
    width: 680px;
    height: 120px;
    background-color: #F3F3F3;
    display: flex;
    justify-content: space-around;
}

#nav-all .pages-ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 60px;
    
}


#nav-all ul a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    padding-bottom: 55px;
    color: black;
}

#nav-other {
    width: 180px;
    height: 120px;
    background-color: #F3F3F3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

#nav-other .search {
    padding-bottom: 47px;
}

#prof .cart-text {
    padding-bottom: 55px;

}

#nav-other .search {
    font-size: 22px;
}

#nav-other .cart i{
    font-size: 16px;
}

#nav-other .cart-text{
    margin-left: 15px;
    letter-spacing: 2px;
}

#nav-other span {
    font-size: 14px;
    cursor: pointer;
}






#nav-all .nav{
    position: relative;
}

#nav-all .nav .drp {
    height: auto;
    background-color: #F3F3F3;
    display: none
    ;
    position: absolute;
    padding-bottom: 30px;
}

#nav-all .nav .drp a {
    margin: 0px 20px 0px 20px;
}

#nav-all .nav:hover .drp {
    display: block;
    transition: 2s;
}

#nav-all .nav .drp li {
    list-style-type: none;
    margin-top: 10px;

}

#nav-all .nav .drp li a{
    text-decoration: none;
    font-size: 11px;
}




.home-drp {
    width: 220px;
    top: 69px;
    left: -30px;
}

.pages-drp {
    width: 180px;
    top: 69px;
    left: -30px;
}

.shop-size {
    width: 1300px;
    height: 600px;
    top: 69px;
    right: -650px;
}

.portfolio-drp {
    width: 218px;
    top: 69px;
    left: -30px;
}

.blog-drp {
    width: 160px;
    top: 69px;
    left: -30px;
}

.element-drp {
    width: 210px;
    top: 69px;
    left: -30px;

}



#disp-shop {
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

#disp-shop h1 {
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 20px;
}

#disp-shop ul li  {
    margin-top: 30px;
}



.drp .drp-icon  i{
    margin-left: 20px;
}



.drp .port-drp {
    position: relative;
}


.drp .drp-pLayout {
    width: 210px;
    height: 200px;
    background-color: #F3F3F3;
    position: absolute;
    left: 218px;
    top: -10px;
    display: none;
    padding: 5px 5px 20px 5px;
}

.drp .drp-pLayout ul li {
    margin-bottom: 15px;
}

.drp .port-drp:hover .drp-pLayout {
    display: block;
}




.drp .post-drp {
    position: relative;
}


.drp .drp-post {
    width: 200px;
    height: 220px;
    background-color: #F3F3F3;
    position: absolute;
    left: 160px;
    top: -10px;
    display: none;
    padding: 5px 5px 20px 5px;
}

.drp .drp-post ul li {
    margin-bottom: 15px;
}

.drp .post-drp:hover .drp-post {
    display: block;
}

.nav .element-icon span {
    margin-left: 40px;
}


.drp .eClass-drp {
    position: relative;
}


.drp .drp-class {
    width: 200px;
    height: auto;
    background-color: #F3F3F3;
    position: absolute;
    right: 210px;
    top: -10px;
    display: none;
    padding: 5px 5px 10px 5px;
}

.drp .drp-class ul li {
    margin-bottom: 10px;
}

.drp .eClass-drp:hover .drp-class {
    display: block;
}






#nav-other #src {
    position: relative;
}

#nav-other #src .drp-src{
    width: 280px;
    height: 50px;
    background-color: #F3F3F3;
    position: absolute;
    top: 72px;
    right: 5px;
    display: none;
}

#nav-other #src div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 50px;
}

#nav-other #src:hover .drp-src {
    display: block;
}

#src .drp-src input {
    width: 250px;
    height: 40px;
    border: 0;
    background-color: #F3F3F3;
    padding: 5px;
}

#src .drp-src i {
    position: absolute;
    right: 25px;
    top: 14px;
    font-size: 22px;
    opacity: 0.5;
}

#src .drp-src i:hover {
    opacity: 1;
}




#prof {
    position: relative;
}

#nav-other .drp-cart {
    width: 250px;
    height: 70px;
    background-color: #F3F3F3;
    position: absolute;
    top: 69px;
    left: -60px;
    display: none;
}

#nav-other .drp-cart .cart-p {
    width: 250px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: start;
    cursor: text;
}

#nav-other .drp-cart .cart-p p {
    margin-top: 20px;
}

#prof:hover .drp-cart {
    display: block;
}

